* {
  padding: 0;
  margin: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f9f9f9;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
  color: #444444;
}

body.is-openned {
  overflow: hidden;
}

select {
  font-size: 1.6rem;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.5em 1.5em;
  border-radius: 0.6rem;
}

.container {
  width: 100%;
  margin: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 550px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 958px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1050px;
  }
}

.container:after, .container .row:after {
  content: '';
  display: table;
  clear: both;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .row {
    margin-left: -1.8rem;
    margin-right: -1.8rem;
  }
}

[class*="grid-"] {
  list-style: none;
  padding: 0 1.8rem;
}

.grid-xs {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.grid-xs-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
}

@media (min-width: 768px) {
  .grid-sm {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .grid-sm-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

@media (min-width: 992px) {
  .grid-md {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .grid-md-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .grid-lg {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .grid-lg-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
}

.grid-xs-1 {
  width: 8.33333%;
}

.grid-xs-2 {
  width: 16.66667%;
}

.grid-xs-3 {
  width: 25%;
}

.grid-xs-4 {
  width: 33.33333%;
}

.grid-xs-5 {
  width: 41.66667%;
}

.grid-xs-6 {
  width: 50%;
}

.grid-xs-7 {
  width: 58.33333%;
}

.grid-xs-8 {
  width: 66.66667%;
}

.grid-xs-9 {
  width: 75%;
}

.grid-xs-10 {
  width: 83.33333%;
}

.grid-xs-11 {
  width: 91.66667%;
}

.grid-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .grid-sm-1 {
    width: 8.33333%;
  }
}

@media (min-width: 768px) {
  .grid-sm-2 {
    width: 16.66667%;
  }
}

@media (min-width: 768px) {
  .grid-sm-3 {
    width: 25%;
  }
}

@media (min-width: 768px) {
  .grid-sm-4 {
    width: 33.33333%;
  }
}

@media (min-width: 768px) {
  .grid-sm-5 {
    width: 41.66667%;
  }
}

@media (min-width: 768px) {
  .grid-sm-6 {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .grid-sm-7 {
    width: 58.33333%;
  }
}

@media (min-width: 768px) {
  .grid-sm-8 {
    width: 66.66667%;
  }
}

@media (min-width: 768px) {
  .grid-sm-9 {
    width: 75%;
  }
}

@media (min-width: 768px) {
  .grid-sm-10 {
    width: 83.33333%;
  }
}

@media (min-width: 768px) {
  .grid-sm-11 {
    width: 91.66667%;
  }
}

@media (min-width: 768px) {
  .grid-sm-12 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .grid-md-1 {
    width: 8.33333%;
  }
}

@media (min-width: 992px) {
  .grid-md-2 {
    width: 16.66667%;
  }
}

@media (min-width: 992px) {
  .grid-md-3 {
    width: 25%;
  }
}

@media (min-width: 992px) {
  .grid-md-4 {
    width: 33.33333%;
  }
}

@media (min-width: 992px) {
  .grid-md-5 {
    width: 41.66667%;
  }
}

@media (min-width: 992px) {
  .grid-md-6 {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .grid-md-7 {
    width: 58.33333%;
  }
}

@media (min-width: 992px) {
  .grid-md-8 {
    width: 66.66667%;
  }
}

@media (min-width: 992px) {
  .grid-md-9 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .grid-md-10 {
    width: 83.33333%;
  }
}

@media (min-width: 992px) {
  .grid-md-11 {
    width: 91.66667%;
  }
}

@media (min-width: 992px) {
  .grid-md-12 {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-1 {
    width: 8.33333%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-2 {
    width: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-4 {
    width: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-5 {
    width: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-6 {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-7 {
    width: 58.33333%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-8 {
    width: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-9 {
    width: 75%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-10 {
    width: 83.33333%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-11 {
    width: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .grid-lg-12 {
    width: 100%;
  }
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-items-middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sr-only {
  position: absolute;
  top: 0;
  left: -9999px;
  color: transparent;
  font-size: 0;
}

.icon {
  display: inline-block;
}

.icon .icon__bar {
  display: block;
  background-color: #000000;
  width: 2rem;
  height: 0.2rem;
  margin: 0.5rem 0;
}

.icon--close .icon .icon__bar {
  opacity: 0;
}

.icon--close .icon .icon__bar:first-child {
  opacity: 1;
  -webkit-transform: translateY(0.7rem) rotate(45deg);
          transform: translateY(0.7rem) rotate(45deg);
}

.icon--close .icon .icon__bar:last-child {
  opacity: 1;
  -webkit-transform: translateY(-0.7rem) rotate(-45deg);
          transform: translateY(-0.7rem) rotate(-45deg);
}

.header {
  position: relative;
}

.section {
  margin: 4em auto;
}

.section.section--diff {
  padding: 4em 0 6em 0;
  margin-top: -7em;
  margin-bottom: 0;
}

.section.section--diff.section--diff-primary {
  color: #ffffff;
  background-color: #f7ce65;
}

.section.section--diff.section--diff-secondary {
  color: #ffffff;
  background-color: #b6da54;
}

.d1, .d2, .d3, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Londrina Solid", cursive;
  line-height: 1.3;
  margin: 0.5em 0 0.5em 0;
  font-weight: bold;
  letter-spacing: 0.25rem;
}

.nr-font-stack.d1, .nr-font-stack.d2, .nr-font-stack.d3, h1.nr-font-stack, .nr-font-stack.h1, h2.nr-font-stack, .nr-font-stack.h2, h3.nr-font-stack, .nr-font-stack.h3, h4.nr-font-stack, .nr-font-stack.h4, h5.nr-font-stack, .nr-font-stack.h5, h6.nr-font-stack, .nr-font-stack.h6 {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  letter-spacing: initial;
}

.d1 small, .d2 small, .d3 small, h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h4 small, .h4 small, h5 small, .h5 small, h6 small, .h6 small {
  display: block;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 50%;
  font-weight: lighter;
}

.d1 {
  font-size: 10rem;
}

.d2 {
  font-size: 8rem;
}

.d3 {
  font-size: 6rem;
}

@media (max-width: 575.8px) {
  .d1, .d2, .d3 {
    font-size: 5.8rem;
  }
}

h1, .h1 {
  font-size: 5.8rem;
}

h2, .h2 {
  font-size: 4.8rem;
}

h3, .h3 {
  font-size: 3.8rem;
}

h4, .h4 {
  font-size: 3.2rem;
}

h5, .h5 {
  font-size: 2.4rem;
}

h6, .h6 {
  font-size: 1.8rem;
}

ul li {
  list-style: none;
}

ul ul.is-listing {
  margin-left: 1em;
}

ul ul.is-listing li {
  list-style: disc;
  margin-bottom: 1em;
}

p {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-color--primary {
  color: #f7ce65 !important;
}

.text-color--secondary {
  color: #b6da54 !important;
}

.text-color--tertiary {
  color: #e99902 !important;
}

.bg-color--primary {
  color: #ffffff;
  background-color: #f7ce65;
}

.bg-color--secondary {
  color: #ffffff;
  background-color: #b6da54;
}

.bg-color--tertiary {
  color: #ffffff;
  background-color: #e99902;
}

img {
  max-width: 100%;
}

.img-centered img {
  display: block;
  width: auto;
  margin: auto;
}

img.img-centered {
  display: block;
  width: auto;
  margin: auto;
}

.img-rounded {
  border-radius: 500px;
}

.img-rounded + .img-shadow__dinamic {
  border-radius: 500px;
}

.img-shadow {
  position: relative;
}

@media (max-width: 991.78px) {
  .img-shadow img {
    -webkit-box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.15);
  }
  .img-shadow .img-shadow__dinamic {
    display: none;
  }
}

@media (min-width: 992px) {
  .img-shadow .img-shadow__dinamic {
    opacity: .8;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18rem;
    height: 18rem;
    margin-top: -4rem;
    margin-left: -9rem;
    -webkit-filter: blur(3rem);
            filter: blur(3rem);
    z-index: -1;
  }
}

.img-icon {
  fill: #f7ce65;
}

.img-icon.img-icon--white {
  fill: #ffffff;
}

#servicos .img-icon {
  max-height: 10rem;
}

a {
  color: #e99902;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

a:hover, a:focus {
  text-decoration: underline;
}

.btn, a.btn, button.btn, input.btn, .tabs .tab__item {
  display: inline-block;
  color: #444444;
  font-size: 1.8rem;
  line-height: 1.8;
  padding: 0.5em 1.5em;
  margin: 0.5rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 0;
  border-radius: 0.6rem;
  cursor: pointer;
  outline: none;
  -webkit-transition: background 0.15s ease, color 0.15s ease;
  transition: background 0.15s ease, color 0.15s ease;
}

.btn:first-child, .tabs .tab__item:first-child {
  margin-left: 0;
}

.btn:last-child, .tabs .tab__item:last-child {
  margin-right: 0;
}

.btn:hover, .tabs .tab__item:hover, .btn:focus, .tabs .tab__item:focus {
  text-decoration: none;
}

.btn--rounded.btn, .tabs .btn--rounded.tab__item {
  border-radius: 500px;
}

.btn--sm.btn, .tabs .btn--sm.tab__item, .tab__item--sm.btn, .tabs .tab__item--sm.tab__item {
  font-size: 1.6rem;
  padding: 0.3em 1.2em;
}

.btn--lg.btn, .tabs .btn--lg.tab__item, .tab__item--lg.btn, .tabs .tab__item--lg.tab__item {
  font-size: 2rem;
  padding: 0.7em 1.8em;
}

.btn.btn--primary, a.btn.btn--primary, button.btn.btn--primary, input.btn.btn--primary {
  color: #ffffff;
  background-color: #f7ce65;
}

.btn.btn--primary:hover, .btn.btn--primary:focus, a.btn.btn--primary:hover, a.btn.btn--primary:focus, button.btn.btn--primary:hover, button.btn.btn--primary:focus, input.btn.btn--primary:hover, input.btn.btn--primary:focus {
  background-color: #eaac0c;
}

.btn.btn--secondary, a.btn.btn--secondary, button.btn.btn--secondary, input.btn.btn--secondary {
  color: #ffffff;
  background-color: #b6da54;
}

.btn.btn--secondary:hover, .btn.btn--secondary:focus, a.btn.btn--secondary:hover, a.btn.btn--secondary:focus, button.btn.btn--secondary:hover, button.btn.btn--secondary:focus, input.btn.btn--secondary:hover, input.btn.btn--secondary:focus {
  background-color: #82a424;
}

.btn.btn--tertiary, a.btn.btn--tertiary, button.btn.btn--tertiary, input.btn.btn--tertiary {
  color: #ffffff;
  background-color: #e99902;
}

.btn.btn--tertiary:hover, .btn.btn--tertiary:focus, a.btn.btn--tertiary:hover, a.btn.btn--tertiary:focus, button.btn.btn--tertiary:hover, button.btn.btn--tertiary:focus, input.btn.btn--tertiary:hover, input.btn.btn--tertiary:focus {
  background-color: #fec353;
}

.btn.btn--transparent, a.btn.btn--transparent, button.btn.btn--transparent, input.btn.btn--transparent {
  color: white;
  background: transparent;
  border: 0.1rem solid #ffffff;
}

.btn.btn--transparent:hover, .btn.btn--transparent:focus, a.btn.btn--transparent:hover, a.btn.btn--transparent:focus, button.btn.btn--transparent:hover, button.btn.btn--transparent:focus, input.btn.btn--transparent:hover, input.btn.btn--transparent:focus {
  color: #000000;
  background-color: #ffffff;
}

.btn.btn--transparent.btn--primary, a.btn.btn--transparent.btn--primary, button.btn.btn--transparent.btn--primary, input.btn.btn--transparent.btn--primary {
  color: #f7ce65;
  border-color: #f7ce65;
}

.btn.btn--transparent.btn--primary:hover, .btn.btn--transparent.btn--primary:focus, a.btn.btn--transparent.btn--primary:hover, a.btn.btn--transparent.btn--primary:focus, button.btn.btn--transparent.btn--primary:hover, button.btn.btn--transparent.btn--primary:focus, input.btn.btn--transparent.btn--primary:hover, input.btn.btn--transparent.btn--primary:focus {
  color: #ffffff;
  background-color: #f7ce65;
}

.btn.btn--transparent.btn--secondary, a.btn.btn--transparent.btn--secondary, button.btn.btn--transparent.btn--secondary, input.btn.btn--transparent.btn--secondary {
  color: #b6da54;
  border-color: #b6da54;
}

.btn.btn--transparent.btn--secondary:hover, .btn.btn--transparent.btn--secondary:focus, a.btn.btn--transparent.btn--secondary:hover, a.btn.btn--transparent.btn--secondary:focus, button.btn.btn--transparent.btn--secondary:hover, button.btn.btn--transparent.btn--secondary:focus, input.btn.btn--transparent.btn--secondary:hover, input.btn.btn--transparent.btn--secondary:focus {
  color: #ffffff;
  background-color: #b6da54;
}

.btn.btn--transparent.btn--tertiary, a.btn.btn--transparent.btn--tertiary, button.btn.btn--transparent.btn--tertiary, input.btn.btn--transparent.btn--tertiary {
  color: #e99902;
  border-color: #e99902;
}

.btn.btn--transparent.btn--tertiary:hover, .btn.btn--transparent.btn--tertiary:focus, a.btn.btn--transparent.btn--tertiary:hover, a.btn.btn--transparent.btn--tertiary:focus, button.btn.btn--transparent.btn--tertiary:hover, button.btn.btn--transparent.btn--tertiary:focus, input.btn.btn--transparent.btn--tertiary:hover, input.btn.btn--transparent.btn--tertiary:focus {
  color: #ffffff;
  background-color: #e99902;
}

.menu {
  opacity: 1;
  position: absolute;
  top: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.6rem;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  z-index: 5;
}

.menu li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.menu .menu__item a {
  color: #ffffff;
  padding: .5em;
}

.menu .menu__container, .menu .menu__buttons,
.menu .logo, .menu .logo__img {
  display: inline-block;
  vertical-align: middle;
}

.menu .menu__buttons li {
  margin-left: 1em;
}

.menu .menu__container {
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

@media (max-width: 991.8px) {
  .menu .menu__container {
    overflow: auto;
    text-align: center;
    background-color: #ffffff;
    position: fixed;
    top: 9rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2rem 0;
  }
  .menu .menu__container li {
    display: block;
  }
  .menu .menu__container li.menu__item a {
    display: block;
    color: #000000;
    padding: 0.5em 1.5em;
  }
  .menu .menu__container.is-hidding {
    opacity: 0;
  }
  .menu .menu__container.is-hidded {
    display: none;
  }
  .menu .menu__container.is-collapsing {
    -webkit-animation: fadeIn 0.15s ease;
            animation: fadeIn 0.15s ease;
  }
  .menu .menu__container.is-collapsed {
    display: block;
  }
}

@media (min-width: 992px) {
  .menu .menu__container .menu__item--responsive {
    display: none;
  }
}

.menu .logo__img {
  max-height: 8rem;
  padding: .5rem;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.menu .btn--collapse {
  line-height: 0;
  background-color: transparent;
  padding: .5rem;
  height: 8rem;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .menu .btn--collapse {
    display: none;
  }
}

.menu .btn--collapse .icon__bar {
  background-color: #ffffff;
}

.is-scrolling .menu, .menu.is-openned {
  position: fixed;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.15);
}

.is-scrolling .menu .menu__container .menu__item a, .menu.is-openned .menu__container .menu__item a {
  color: #e99902;
}

.is-scrolling .menu .btn--collapse .icon__bar, .menu.is-openned .btn--collapse .icon__bar {
  background-color: #b6da54;
}

.hero {
  position: relative;
  background-image: -webkit-gradient(linear, right top, left bottom, from(rgba(233, 153, 2, 0.9)), to(rgba(247, 206, 101, 0.9))), url("../img/jogo-bg.jpg");
  background-image: linear-gradient(to bottom left, rgba(233, 153, 2, 0.9), rgba(247, 206, 101, 0.9)), url("../img/jogo-bg.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 110vh;
  max-height: 950px;
  -webkit-clip-path: ellipse(90% 90% at 40% 10%);
          clip-path: ellipse(90% 90% at 40% 10%);
}

.hero .hero__container {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.hero .hero__title {
  color: #ffffff;
  line-height: 0.7;
  margin-bottom: 1em;
}

.hero .hero__title .hero__title--main {
  display: block;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  line-height: 1.2;
}

@media (min-width: 958px) {
  .hero .hero__title .hero__title--main {
    font-size: 10rem;
  }
}

.hero .hero__title .hero__title--sub {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 300;
}

.header__cards {
  margin-top: -15rem;
  position: relative;
  z-index: 2;
}

.header__cards .card {
  list-style: none;
  text-align: center;
  margin: 1em 0;
}

.header__cards .card .card__figure.card__figure--icon .card__img {
  max-width: 10rem;
}

.card {
  position: relative;
  display: block;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 0.6rem;
  -webkit-box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 1rem 1rem 4rem rgba(0, 0, 0, 0.15);
  z-index: 2;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.card .card__figure .card__img {
  display: block;
  width: 100%;
}

.card .card__figure.card__figure--icon .card__img {
  display: inline-block;
  width: 20rem;
  margin: 3em auto 1.5em auto;
  fill: #f7ce65;
}

.card .card__figure + .card__body {
  padding: 1.8rem 3.6rem;
}

.card .card__body {
  color: #444444;
  padding: 1.8rem 2.2rem;
}

.card.card--section .card__body {
  margin: 1em;
}

.card.card--alt .card__body {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(0, 0, 0, 0.4)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), transparent);
}

a:hover > .card {
  -webkit-box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.15);
}

.card-equal-height .card {
  height: 100%;
}

.tabs {
  display: block;
  padding: 1.8rem 0;
  margin: 1.5em 0;
  overflow: auto;
  white-space: nowrap;
}

.tabs .tab__item {
  border-radius: 500px;
}

.tabs .tab__item:hover, .tabs .tab__item:focus {
  background-color: #f2f2f2;
}

.tabs .tab__item.is-active {
  color: #ffffff;
  background-color: #e99902;
}

.tabs .tab__item.is-active:hover, .tabs .tab__item.is-active:focus {
  background-color: #fec353;
}

.tab-panel {
  display: none;
}

.tab-panel.is-active {
  display: block;
  -webkit-animation: fadeIn 0.15s ease;
          animation: fadeIn 0.15s ease;
}

.numbers {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2rem;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
